<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="main">Nearest</div>
      <ion-icon name="information-circle" class="info-button"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="type-to-search" *ngIf="!nearest || !nearest.id">
    <span style="line-height: 40px;">Getting location</span>
<ion-spinner style="vertical-align: middle;"></ion-spinner>
</div>
<div *ngIf="nearest && nearest.id">
  <div class="station-view" [hidden]="!nearest">
    <div class="station-header-icon">
      <ion-icon name="cloud" item-left isActive="true"></ion-icon>
    </div>
    <div class="station-content">
      <span class="station-header">{{nearest.NWS}}</span>
      <div class="station-name bold">{{nearest['COOP NAME']}}, {{nearest.COUNTY || 'NoCounty'}}</div>
      <div class="station-long-lang">
        <span class="bold">LAT.</span> {{(nearest.latitude + '').slice(0, 5)}}
        <span class="bold">LON.</span> {{(nearest.longitude + '').slice(0, 5)}}
      </div>
      <div class="station-text">Elevation {{nearest.elevation}} Shef {{nearest.shefId}}</div>
    </div>
    <ion-icon class="favorite-button" name="star" (click)="nearest.isFavorite = !nearest.isFavorite;" item-right isActive="nearest.isFavorite"></ion-icon>
  </div>
  <ion-toolbar [hidden]="!nearest">
    <ion-segment [(ngModel)]="detailsView" color="primary">
      <ion-segment-button value="data">
        Data
      </ion-segment-button>
      <ion-segment-button value="nearest">
        Nearest
      </ion-segment-button>
      <ion-segment-button value="map">
        Map
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div class="segment-view">
    <div [hidden]="!(detailsView === 'data')">
      <div class="detail-item"><span class="bold">Maximum temperature (°F) </span>{{detailData[1]}}</div>
      <div class="detail-item"><span class="bold">Minimum temperature (°F) </span>{{detailData[2]}}</div>
      <div class="detail-item"><span class="bold">Average temperature (°F) </span>{{detailData[3]}}</div>
      <div class="detail-item"><span class="bold">Obs time temperature (°F) </span>{{detailData[4]}}</div>
      <div class="detail-item"><span class="bold">Precipitation (inches) </span>{{detailData[5]}} </div>
      <div class="detail-item"><span class="bold">Snowfall (inches) </span>{{detailData[6]}}</div>
      <div class="detail-item"><span class="bold">Snow Depth (inches) </span>{{detailData[7]}}</div>
      <div class="detail-item"><span class="bold">Cooling degree days (default base 65) </span>{{detailData[8]}}</div>
      <div class="detail-item"><span class="bold">Degree days below base (default base 65) </span>{{detailData[9]}}</div>
      <div class="detail-item"><span class="bold">Degree days above base (default base 50) </span>{{detailData[10]}}</div>
    </div>
    <div [hidden]="!(detailsView === 'nearest')">
      <div class="list-container">
        <div class="list-item" *ngFor="let item of nearBy" (click)="selectStation(item)">
          <div class="station-content">
            <div class="header-text">{{item.NWS}}</div>
            <div class="station-country">
              <span class="bold title">{{item['COOP NAME'] || 'No Coop Name'}}</span>,
              <span class="bold dark-green">COUNTY :</span> {{item.COUNTY || 'No County'}},
              <span class="bold dark-green">STATE :</span> {{item.STATE}}
              <div class="station-long-lang bold">
                <span class="bold dark-green">LAT.</span> {{(item.latitude + '' || '').slice(0, 6)}}
                <span class="bold dark-green">LON.</span> {{(item.longitude + ''|| '').slice(0, 6)}}
              </div>
              <span class="bold dark-green">EL OTHER :</span> {{item.EL_OTHER}},
              <span class="bold dark-green">STN TYPE :</span> {{item.STNTYPE}}
            </div>
          </div>
          <ion-icon class="favorite-button" name="star" (click)="item.isFavorite = !item.isFavorite;onFavoriteClick(item.id, $event)"
            [ngClass]="{ 'is-favorite': item.isFavorite }" item-right></ion-icon>
        </div>
      </div>
    </div>
    <div [hidden]="false && !(detailsView === 'map')">
      <div id="nearest-map" class="map"></div>
    </div>
  </div>
</div>
</ion-content>